html, body {
    margin: 0;
    padding: 0;
}

header
{
    background-color: darkgray;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    font-size: x-large;
    
}
.spacer{
    height: 100px;
    background-color: darkgray;
    border-bottom: solid 2px;
}
.Titles {
    font-size: 1.3cm;
    width: 100%;
}
#navul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 100px;
    right: 10px;
    margin: 5px;
    padding: 5px;
}
#nav {
    margin: 40px;

}
.AboutMe {
    background-color: darkgreen;
    border-top: solid 1px;
    border-bottom: solid 2px;
    display: flex;
    font-size: x-large;
}
main {
    background-color: lightgray;
    border-top: solid 1px;
}
.Projects {
    font-size: x-large;
}
.FirstProject {
    position: relative;
    border: 3px groove;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    height: 350px;
    }

.AccessImage{
    width: 100%;
    height: 100%;
}

.FirstProjectspacing {
    position: absolute;
    bottom: 1px;
    color: yellow;
    font-weight: 800;
    font-size: larger;
    z-index: 2;
}

.OtherProjects1 {
display: flex;
position: relative;
width: 52%;
margin-right: auto;
margin-left: auto;
}
.P1img {
width: 100%;
height: 100%;
}
.P1Spacing{
position: absolute;
bottom: 1px;
color: aqua;

}
.OtherProjects2 {
    display: flex;
    position: relative;
    width: 52%;
    margin-right: auto;
    margin-left: auto;
    }

.Projectspacing{
    margin: 5px;
    width: 50%;
    border: groove 2px;
}


footer {
    display: flex;
    font-size: x-large;
    background-color: lightblue;
    border-top: solid 1px lightblue;
    justify-content: space-between;
  
}
h2{
    display: flex;
    justify-content:start;
    margin-top: 10px;
}
#footerUl {
    display: flex;
}
#footerLi {
    margin-top: 10px;
    margin-right: 80px;
  
}

@media screen and ( max-width: 992px){
header {
    background-color: teal;
    font-size:large;
}
.spacer{
    height: 100px;
    background-color: teal;
}
#navul {
    display: flex;
    position: relative;
    bottom: 60px;   

}
footer {
    font-size: large;
}
@media screen and ( max-width: 768px) {
header{
      width: 100%;
      background-color: floralwhite;
    
    }
    .spacer{
        height: 100px;
        background-color: floralwhite;
    }
    #navul {
       margin: 1px;  
    
    }
}}